.activity {
  display: flex;
  background-color: #b3b3b3;
  justify-content: space-evenly;
  padding: .25em;
  margin: .25em 0;
}

.ActivityReadings {
  height: 160px;
  overflow: scroll;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-style: inset;
  border-color: #b3b3b3;
}