  .blood-pressures {
  display: flex;
  background-color: #b3b3b3;
  justify-content: space-evenly;
  padding: .25em;
  margin: .25em 0;
}

.BloodPressureReadings {
  height: 160px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}